# Atlassian API Configuration
# Get your API token from: https://id.atlassian.com/manage-profile/security/api-tokens

ATLASSIAN_EMAIL=fistdat@gmail.com
ATLASSIAN_API_TOKEN=ATATT3xFfGF0hGIzt1j6IEghyVFT2qi8mkwjkrnKbAchWtpZ9KgAjVsKs6WsHx0wq7Db6jjTj5D5ie_FVOWnuksLFzKjwHrH35J_-s7ITn3BTbpllZu9VYcOdWIMJZU9Nf4AVZhfB5LkNrXQU6vUsnreimp6CEvUJJOV7G3s42cqe1LlDIAMkvc=7425462E
